@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

/* slider */
.slider {
  height: calc(100vh - 1rem);
  width: 500vw;
  display: flex;
  transition: 1s ease;
}

.slide {
  width: 100vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
